[Unit]
Description=ss/ssr/socks5 global proxy script
ConditionFileIsExecutable=/usr/local/bin/ss-tproxy
ConditionFileNotEmpty=/etc/tproxy/ss-tproxy.conf
Requires=network.target network-online.target haveged.service
After=network.target network-online.target haveged.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/ss-tproxy start
ExecStop=/usr/local/bin/ss-tproxy stop
ExecReload=/usr/local/bin/ss-tproxy restart

[Install]
WantedBy=multi-user.target
